/* import "react-toastify/dist/ReactToastify.css"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import '~react-image-gallery/styles/css/image-gallery.css'; */

/* import "react-toastify/dist/ReactToastify.css"; */

/* import '@fortawesome/fontawesome-free/css/all.css'; */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
* {
    animation-duration: 0s !important;
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  background-color: #f3f3f3;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

html {
  scroll-behavior: smooth;
}

.btn-nav {
  @apply hover:text-primary hover:bg-primary/10 focus:bg-primary/10 active:bg-primary/10 font-semibold;
}
.btn-navs {
  @apply hover:text-primary  hover:border-b-[5px] border-primary py-[5px] px-[20px]  font-semibold;
}
.btn-dash {
  @apply hover:text-primary hover:ring-[1px] ring-primary/20 font-semibold;
}

.btn {
  @apply animate-none hover:animate-none active:animate-none active:scale-100  focus:animate-none focus:scale-100 hover:scale-100 hover:transform-none active:transform-none focus:transform-none;
}

/* //////Btn Classes */
/* .btn {
  @apply animate-none;
} */
